@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="font-size: 18px;">
    <h1 class="display-4" style="font-size: 2.5em;">Вітаємо!!!</h1>
    <p style="font-size: 1.25em;">Це основна сторінка лабораторної роботи №1</p>
    <p style="font-size: 1.25em;">Робота виконана студенткою групи К25 Помаліною Маргаритою</p>
    <p style="font-size: 1.25em;">Гарного перегляду!!!</p>
    <p style="font-size: 0.5em;">Зарахуйте етап 1.3 будь ласка)</p>
</div>

